<% @page_title = "Delete Employee: #{@employee.first_name}" %>

<h2 class="pagetitle">Delete Employee</h2>
<hr />
<div class='alignleft'>
    <%= link_to(content_tag( :span, "Back to List"), {:action => 'list'}, :class => 'button') %>
</div>
<br/>
<hr />
<div id="content-full">
    <div id="contleft">
        <%= form_for(:employee, :url => {:action => 'destroy', :id => @employee.id}) do |f| %>
        <hr/>
        <div id='conthold'>

            <ul class="employ-type1">
                <li>
                    <div class="employ-img-type1" >
                        <h2><%= @employee.first_name %> <%= @employee.last_name %></h2>
                        <img src="<%= @employee.photo.url(:medium) %>">
                    </div>
                </li>
            </ul>
            <h6>
            Are you sure you want to permanently delete this employee?
            </h6>
            <div class="tool_btn">
                <input type="submit" name="submit" class="button" value="Delete Employee" />
            </div>
            <hr/>
        </div>
        <% end %>
    </div>
</div>
