<% @page_title = "Show Category: #{@category.name}" %>

<div class="category show">
    <h2 class="pagetitle">Category detail view:</h2>
    <hr />
    <div class='alignleft'>
        <%= link_to(content_tag( :span, "Back to List"), {:action => 'list'}, :class => 'button') %>
    </div>
    <br/>
    <hr />

    <div id="content-full">
        <div id="contsmallleft">
            <hr/>
            <div id='conthold' align="center">

                <br/>
                <h2 ><%= @category.name %></h2>
                <%= image_tag @category.photo.url(:large) %>

                <hr/>
            </div>
        </div>
        <div id="contleft">
            <hr/>
            <div id='conthold'>
              
            <table border="0">
              <tr>
                <td><b>Category Name:</b></td>
                <td><%= @category.name %></td>
              </tr>
              <tr>
                <td><b>Position:</b></td>
                <td><%= @category.position %></td>
              </tr>
                <tr>
                <td><b>Visible?</b></td>
                <td><%= @category.visible ? 'true' : 'false' %></td>
              </tr>
              <tr>
                <td><b>Created:</b></td>
                <td><%= @category.created_at %></td>
              </tr>
                  <tr>
                <td><b>Status:</b></td>
                <td>aaa</td>
              </tr>
              <tr>
                <td><b>Updated:</b></td>
                <td><%= @category.updated_at %></td>
              </tr>
            </table>
              
                <hr/>
            </div>
            <hr/>
            <%= link_to(content_tag( :span, "Edit"), {:action => 'edit', :id => @category.id}, :class => 'button') %>
            <%= link_to(content_tag( :span, "Delete"), {:action => 'delete', :id => @category.id}, :class => 'button') %>
        </div>
        <div class="clear">
        </div>
        <p>
            Ut enim ad minim veniam Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
    </div>
