<% @page_title = "Show Supplier: #{@supplier.company_name}" %>

<div class="supplier show">
    <h2 class="pagetitle">Supplier detail view:</h2>
    <hr />
    <div class='alignleft'>
        <%= link_to(content_tag( :span, "Back to List"), {:action => 'list'}, :class => 'button') %>
    </div>
    <br/>
    <hr />
    <div id="content-full">
        <div class="supp">
            <div id="supp-content-left">
                <br />
                <div>
                </div>
                <br />
                <div class="supp-map">
                    <%= image_tag @supplier.photo.url(:large) %>
                </div>
                <br />
                </b>Services:</b>
                <br />
                <blockquote>
                    <%= @supplier.services %>
                </blockquote>
                <p>
                    <b>Company Name: </b><%= @supplier.company_name %>
                    <br />
                    <b>Bussiness Nr: </b><%= @supplier.business_nr %>
                    <br />
                    <b>Fiscal Nr: </b> <%= @supplier.fiscal_nr %>
                    <br />
                    <b>Owner: </b><%= @supplier.owner %>
                    <br />
                    <b>Address: </b><%= @supplier.address %>
                    <br />
                    <b>Phone: </b><%= @supplier.phone %>
                    <br />
                    <b>Status: </b><%= @supplier.status %>
                    <br />
                    <b>Last Updated: </b><%= @supplier.updated_at %>
                </p>
                <%= link_to(content_tag( :span, "Edit"), {:action => 'edit', :id => @supplier.id}, :class => 'button') %>
                <%= link_to(content_tag( :span, "Delete"), {:action => 'delete', :id => @supplier.id}, :class => 'button') %>

            </div>
        </div><!-- end .supp -->
    </div>
</div>
